<!DOCTYPE html>

<html lang="pt-br">
    <html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Gaming</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <p>AQUI COMEÇA A SUA JORNADA NO ULTIMATE GAMING</p>

    <div class="botoes-centrais">
    <a href="/sobre" class="botao_sobre">Saiba mais sobre nós</a>
    <a href="/logout" class="botao_logout">Sair</a>
    </div>

    <footer>
        &copy; 2025 Ultimate Gaming. Todos os direitos reservados.
    </footer>
</body>
</html>