<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Teste de Pop-ups</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <p style="text-align:center; font-size: 24px;">Testando Pop-ups do Sistema</p>

    <div class='popup' id='popupSucesso'>
        <div class='popup-content'>
            <h2>Sucesso!</h2>
            <p>Cadastro realizado com sucesso! ✅🎮</p>

            <div class='botoes-popup'>
                <a href="#" class="botao_popup">Página inicial</a>
                <a href="#" class="botao_popup">Fazer login</a>
                <button class="fechar-popup" onclick="fecharPopup('popupSucesso')">Fechar</button>
            </div>
        </div>
    </div>

    <div class='popup' id='popupErro' style="margin-top: 50px;">
        <div class='popup-content'>
            <h2>Erro!</h2>
            <p>Email já cadastrado! ❌</p>

            <div class='botoes-popup'>
                <a href="#" class="botao_popup">Voltar</a>
                <a href="#" class="botao_popup">Login</a>
                <button class="fechar-popup" onclick="fecharPopup('popupErro')">Fechar</button>
            </div>
        </div>
    </div>

    <script>
        function fecharPopup(id) {
            const popup = document.getElementById(id);
            if (popup) {
                popup.style.display = 'none';
            }
        }
    </script>
</body>
</html>
